<div class="fondo d-flex  align-items-center flex-column">
  <div class="bloque mb-4 mt-4">
    <div class="div1">
      <img src="../../../../../assets/Img/comprobante.png" alt="" />
      <div class="txt1">
        Transferiste $ {{ transfer.amount }} a {{ client.userName }}
      </div>
    </div>

    <div class="div2">
      <button (click)="botonDecorativo()" mat-raised-button class="boton" color="accent">
        Descargar comprobante
      </button>
      <button
        mat-raised-button
        (click)="Inicio()"
       
        class="boton2"
      >
        Ir al inicio
      </button>
    </div>
  </div>
</div>
