<div class="fondo d-flex  align-items-center flex-column">
  <div class="bloque mb-4 mt-4">
    <p class="title">Datos de la cuenta</p>
    <div class="container-item">
      <img src="../../../../../assets/Img/user.png" alt="" />
      <div class="text">
        <div class="name">Enviar a</div>
        <div class="label">{{ client.userName }}</div>
      </div>
    </div>
    <div class="container-item">
      <img src="../../../../../assets/Img/Bank.png" alt="" />
      <div class="text">
        <div class="name">Cuenta</div>
        <div class="label">Santander</div>
      </div>
    </div>
    <div class="container-item">
      <img src="../../../../../assets/Img/Smile.png" alt="" />
      <div class="text">
        <div class="name">Alias</div>
        <div class="label">{{ client.alias }}</div>
      </div>
    </div>
    <div class="container-item">
      <img src="../../../../../assets/Img/candado.png" alt="" />
      <div class="text">
        <div class="name">CBU</div>
        <div class="label">{{ client.accountNumber }}</div>
      </div>
    </div>

    <button
      mat-raised-button
      class="boton"
      onclick="location.href='cliente/transfer/4'"
      color="accent"
    >
      Continuar
    </button>
  </div>
</div>
