<div class="fondo d-flex  align-items-center flex-column">
  <div class="container-title justify-content-between">
    <div class="frame40">
      <img class="icon" src="../../../../../assets/Img/FotoPerfil.png" alt="" />
      <div class="title">
        <div class="text">
          {{ client.userName }}
        </div>
      </div>
    </div>
    <div></div>
  </div>

  <div class="container-movimientos">
    <div
      onclick="location.href='cliente/perfil/2'"
      class="ct justify-content-between"
    >
      <div class="t">CVU, Alias y codigo Qr</div>
      <img src="../../../../../assets/Img/go.png" alt="" />
    </div>

    <div
      onclick="location.href='cliente/perfil/3'"
      class="cr justify-content-between"
    >
      <div class="frame40">
        <img src="../../../../../assets/Img/datos.png" alt="" />
        <div class="ti">Mis datos</div>
      </div>
      <img src="../../../../../assets/Img/go.png" alt="" />
    </div>
    <div (click)="botonDecorativo()" class="cr justify-content-between">
      <div class="frame40">
        <img src="../../../../../assets/Img/notificacion.png" alt="" />
        <div class="ti">Notificaciones</div>
      </div>
      <img src="../../../../../assets/Img/go.png" alt="" />
    </div>
    <div  (click)="botonDecorativo()" class="cr justify-content-between">
      <div class="frame40">
        <img src="../../../../../assets/Img/question.png" alt="" />
        <div class="ti">Preguntas Frecuentes</div>
      </div>
      <img src="../../../../../assets/Img/go.png" alt="" />
    </div>
    <div class="cr justify-content-between"
    onclick="location.href='cliente/perfil/4'">
      <div class="frame40">
        <img src="../../../../../assets/Img/card-outline.png" alt="" />
        <div class="ti">Tarjetas</div>
      </div>
      <img src="../../../../../assets/Img/go.png" alt="" />
    </div>
    <div (click)="botonDecorativo()" class="cr justify-content-between">
      <div class="frame40">
        <img src="../../../../../assets/Img/delete.png" alt="" />
        <div class="ti">Eliminar mi cuenta</div>
      </div>
      <img src="../../../../../assets/Img/go.png" alt="" />
    </div>
  </div>
</div>
