<div class="contenedor">
  <mat-card class="color mt-3 mb-3">
    <mat-card-header>
      <mat-card-title class="Titulo">Verifica tu correo electrónico</mat-card-title>
    </mat-card-header>

    <mat-card-content class="width">
      <p class="d-flex flex-column mb-3 mt-3 Color">
        Por favor ingresa a tu correo electrónico. Ingresa el código que te enviamos.
      </p>
     
        <p class="d-flex mt-1">Ingresar Codigo</p>
        
          <mat-form-field class="width">
            <input matInput [(ngModel)]="entrycode" name="entrycode" />
          </mat-form-field>
        
      
    </mat-card-content>

    <div class="C_B">
      <button mat-raised-button color="accent" class="width" (click)="confirmarCodigo()" [disabled]="entrycode !== code">
        Confirmar Codigo
      </button>
    </div>
  </mat-card>
</div>