<div class="fondo d-flex justify-content-center align-items-center flex-column">
  <div class="bloque mb-4 mt-4">
    <p class="title">Nueva cuenta</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Ingresar CBU, CVU o Alias</mat-label>
        <input matInput [(ngModel)]="valor" name="valor" type="text" />
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      class="boton"
      (click)="obtenerValor()"
      color="accent"
    >
      Continuar
    </button>
  </div>
</div>
