
<div class="fondo">
    <div class="container-movimientos">
        <div class="container-title">
          <p class="title m-0">Ultimos Movimientos</p>
        </div>
        <div *ngFor="let transferencia of transferencias" class="transferencia">
          <div class="datos-cliente">
            <img *ngIf="transferencia.type == 'Transferencia Enviada'" class="icon" src="../../../../assets/Img/mdi_cash-minus.png" alt="" />
            <img *ngIf="transferencia.type == 'Transferencia Recibida'" class="icon" src="../../../../assets/Img/mdi_cash-plus.png" alt="" />
            <img *ngIf="transferencia.type == 'Deposito'" class="icon" src="../../../../assets/Img/FotoPerfil.png" alt="" />
            <div class="container-text">
              <div class="operacion">{{ transferencia.type }}</div>
              <div class="contacto">{{ transferencia.userName }}</div>
            </div>
          </div>
          <div class="fecha-monto">
            <div class="monto">{{ transferencia.amount | currency }}</div>
            <div class="fecha">{{ transferencia.dateTime | date : "d/M/yy" }}</div>
          </div>
        </div>
       
      </div>
      
</div>