<div class="contenedor">
  <mat-card class="color mt-3 mb-3">
    <mat-card-header>
      <mat-card-title class="Titulo d-flex text-center"
        >Por favor,subí una foto del dorso de tu DNI</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <form class=" d-flex flex-column mb-3">
        <p class="d-flex p-1 Color2">A tener en cuenta</p>
        <ul class="Color">
          <li>Busca un lugar con luz y no uses flash</li>
          <li>Verifica que sea legible la informacion</li>
        </ul>
      </form>
      <div>
        
        <div class="input-group d-flex pb-2">
          <input
          type="file"
          class="form-control"
          id="inputGroupFile04"
          (change)="onInputChange($event)"
          [(ngModel)]="value"
        />
        </div>
      </div>

      <div
        id="dropzone"
        class="d-flex align-items-center justify-content-center flex-column m-0"
        (drop)="onFileDropped($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        [style.background-color]="dropzoneColor"
      >
        <img src="../../../../../assets/Img/Nube.png" alt="" />
        <div class="arrastrar">Arrastra y suelta los archivos aquí.</div>
      </div>
    </mat-card-content>

    <div class="C_B">
      <button mat-raised-button (click)="continuar()" color="accent" class="example-full-width">
        Continuar
      </button>
    </div>
  </mat-card>
</div>
